.team {
  background-color: #f4f4fd;
}

.team .section-title {
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team .card-title,
.team .card-paragraph {
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}
